body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
}

#root {
  width: 100%;
}

main {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

.searchCity {
  height: 42px;
  width: 600px;
  margin: 0 auto;
  box-sizing: border-box;
  font-size: 16px;
  padding-left: 15px;
  border-radius: 5px;
  border: 1px solid #000;
  margin: 0 auto;
  display: block;
  outline: none;
  transition: .5s all;
}

.searchCity:focus {
  border: 1px solid rgba(147, 102, 255, 1);
}

.plyha {
  text-align: center;
  padding-top: 50px;
}

.CityList {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding-top: 25px;
  line-height: 25px;
}

.cityItem {
  max-width: 220px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #000;
  padding: 10px 6px 6px 6px;
  box-sizing: border-box;
  border-radius: 6px;
  margin: 0 auto;
  margin-bottom: 25px;
}

.weatherList {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  margin-top: 50px;
}